In [1]:
import numpy as np
import pandas as pd

### 데이터 생성

In [2]:
data = '''After Jesus had finished instructing his twelve disciples, he went on 
from there to teach and preach in the towns of Galilee. When John heard in prison
what Christ was doing, he sent his disciples to ask him, "Are you the one who was
to come, or should we expect someone else?" Jesus replied, "Go back and report to 
John what you hear and see: The blind receive sight, the lame walk, those who have
leprosyare cured, the deaf hear, the dead are raised, and the good news is 
preached to the poor. Blessed is the man who does not fall away on account of
me." As John's disciples were leaving, Jesus began to speak to the crowd about 
John: "What did you go out into the desert to see? A reed swayed by the wind? If 
not, what did you go out to see? A man dressed in fine clothes? No, those who 
wear fine clothes are in kings' palaces. Then what did you go out to see? A 
prophet? Yes, I tell you, and more than a prophet. This is the one about whom it 
is written: " 'I will send my messenger ahead of you, who will prepare your way 
before you.' I tell you the truth: Among those born of women there has not risen 
anyone greater than John the Baptist; yet he who is least in the kingdom of 
heaven is greater than he. From the days of John the Baptist until now, the 
kingdom of heaven has been forcefully advancing, and forceful men lay hold of it. For all the 
Prophets and the Law prophesied until John. And if you are willing to accept it, he is the 
Elijah who was to come. He who has ears, let him hear. "To what can I compare this generation? 
They are like children sitting in the marketplaces and calling out to others: " 'We played the 
flute for you, and you did not dance; we sang a dirge and you did not mourn.' For John came 
neither eating nor drinking, and they say, 'He has a demon.' The Son of Man came eating and 
drinking, and they say, 'Here is a glutton and a drunkard, a friend of tax collectors and 
"sinners." ' But wisdom is proved right by her actions." Then Jesus began to denounce the cities 
in which most of his miracles had been performed, because they did not repent. "Woe to you, Koraz
in! Woe to you, Bethsaida! If the miracles that were performed in you had been performed in Tyre 
and Sidon, they would have repented long ago in sackcloth and ashes. But I tell you, it will be 
more bearable for Tyre and Sidon on the day of judgment than for you. And you, Capernaum, will 
you be lifted up to the skies? No, you will go down to the depths. If the miracles that were 
performed in you had been performed in Sodom, it would have remained to this day. But I tell 
you that it will be more bearable for Sodom on the day of judgment than for you." At that time 
Jesus said, "I praise you, Father, Lord of heaven and earth, because you have hidden these things
from the wise and learned, and revealed them to little children. Yes, Father, for this was your 
good pleasure. "All things have been committed to me by my Father. No one knows the Son except the Father, and no one knows the Father except the Son and 
those to whom the Son chooses to reveal him. "Come to me, all you who are weary and burdened, and I will give you rest. Take my yoke upon you and learn from me,
for I am gentle and humble in hear t, and you will find rest for your souls. For my yoke is easy and my burden is light."'''

In [6]:
data_dict = {}
data_dict['verse'] = []

for row in [x for x in data.split('\n')]:
    data_dict['verse'].append(row)
    
bible = pd.DataFrame.from_dict(data_dict)

1. apply 함수 이해하기

In [8]:
bible['verse'].apply(len)

0      70
1      81
2      81
3      82
4      82
5      75
6      77
7      79
8      81
9      78
10     76
11     81
12     80
13     81
14     76
15     76
16     94
17     91
18     95
19     95
20     92
21     92
22     90
23     97
24     97
25     97
26     96
27     95
28     93
29     93
30     95
31     97
32     96
33    154
34    160
35    121
Name: verse, dtype: int64

In [9]:
bible['verse'].apply(type)

0     <class 'str'>
1     <class 'str'>
2     <class 'str'>
3     <class 'str'>
4     <class 'str'>
5     <class 'str'>
6     <class 'str'>
7     <class 'str'>
8     <class 'str'>
9     <class 'str'>
10    <class 'str'>
11    <class 'str'>
12    <class 'str'>
13    <class 'str'>
14    <class 'str'>
15    <class 'str'>
16    <class 'str'>
17    <class 'str'>
18    <class 'str'>
19    <class 'str'>
20    <class 'str'>
21    <class 'str'>
22    <class 'str'>
23    <class 'str'>
24    <class 'str'>
25    <class 'str'>
26    <class 'str'>
27    <class 'str'>
28    <class 'str'>
29    <class 'str'>
30    <class 'str'>
31    <class 'str'>
32    <class 'str'>
33    <class 'str'>
34    <class 'str'>
35    <class 'str'>
Name: verse, dtype: object

2. Lambda 함수 이해하기

In [10]:
bible['verse'][0]

'After Jesus had finished instructing his twelve disciples, he went on '

In [ ]:
- 사용자 정의함수 활용

In [11]:
def isUpper(input):
    return input[0].isupper()

bible['verse'].apply(isUpper)

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31     True
32    False
33    False
34    False
35    False
Name: verse, dtype: bool

In [ ]:
- 람다 함수 활용 : 즉석에서 사용자 정의함수 정의해서 사용할 수 있다.

In [12]:
bible['verse'].apply(lambda x: x[0].isupper())

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31     True
32    False
33    False
34    False
35    False
Name: verse, dtype: bool

3.List Comprehension 이해하기

In [ ]:
- `행 안에 대문자가 있는지 검사

In [15]:
[len(i) for i in bible['verse'] ]

[70,
 81,
 81,
 82,
 82,
 75,
 77,
 79,
 81,
 78,
 76,
 81,
 80,
 81,
 76,
 76,
 94,
 91,
 95,
 95,
 92,
 92,
 90,
 97,
 97,
 97,
 96,
 95,
 93,
 93,
 95,
 97,
 96,
 154,
 160,
 121]

4. 연습

- 각 행의 대문자 갯수 세기

1. apply로 각 문장에 접근 
2. 단어별로 쪼개고 대문자인 것 True, False로 출력(isupper)
3. np.sum으로 갯수 세기

In [16]:
bible['verse'].apply(lambda x: [i for i in x ])

0     [A, f, t, e, r,  , J, e, s, u, s,  , h, a, d, ...
1     [f, r, o, m,  , t, h, e, r, e,  , t, o,  , t, ...
2     [w, h, a, t,  , C, h, r, i, s, t,  , w, a, s, ...
3     [t, o,  , c, o, m, e, ,,  , o, r,  , s, h, o, ...
4     [J, o, h, n,  , w, h, a, t,  , y, o, u,  , h, ...
5     [l, e, p, r, o, s, y, a, r, e,  , c, u, r, e, ...
6     [p, r, e, a, c, h, e, d,  , t, o,  , t, h, e, ...
7     [m, e, ., ",  , A, s,  , J, o, h, n, ', s,  , ...
8     [J, o, h, n, :,  , ", W, h, a, t,  , d, i, d, ...
9     [n, o, t, ,,  , w, h, a, t,  , d, i, d,  , y, ...
10    [w, e, a, r,  , f, i, n, e,  , c, l, o, t, h, ...
11    [p, r, o, p, h, e, t, ?,  , Y, e, s, ,,  , I, ...
12    [i, s,  , w, r, i, t, t, e, n, :,  , ",  , ', ...
13    [b, e, f, o, r, e,  , y, o, u, ., ',  , I,  , ...
14    [a, n, y, o, n, e,  , g, r, e, a, t, e, r,  , ...
15    [h, e, a, v, e, n,  , i, s,  , g, r, e, a, t, ...
16    [k, i, n, g, d, o, m,  , o, f,  , h, e, a, v, ...
17    [P, r, o, p, h, e, t, s,  , a, n, d,  , t, h, ...
18    [E, l, i, j, a, h,  , w, h, o,  , w, a, s,  , ...
19    [T, h, e, y,  , a, r, e,  , l, i, k, e,  , c, ...
20    [f, l, u, t, e,  , f, o, r,  , y, o, u, ,,  , ...
21    [n, e, i, t, h, e, r,  , e, a, t, i, n, g,  , ...
22    [d, r, i, n, k, i, n, g, ,,  , a, n, d,  , t, ...
23    [", s, i, n, n, e, r, s, ., ",  , ',  , B, u, ...
24    [i, n,  , w, h, i, c, h,  , m, o, s, t,  , o, ...
25    [i, n, !,  , W, o, e,  , t, o,  , y, o, u, ,, ...
26    [a, n, d,  , S, i, d, o, n, ,,  , t, h, e, y, ...
27    [m, o, r, e,  , b, e, a, r, a, b, l, e,  , f, ...
28    [y, o, u,  , b, e,  , l, i, f, t, e, d,  , u, ...
29    [p, e, r, f, o, r, m, e, d,  , i, n,  , y, o, ...
30    [y, o, u,  , t, h, a, t,  , i, t,  , w, i, l, ...
31    [J, e, s, u, s,  , s, a, i, d, ,,  , ", I,  , ...
32    [f, r, o, m,  , t, h, e,  , w, i, s, e,  , a, ...
33    [g, o, o, d,  , p, l, e, a, s, u, r, e, .,  , ...
34    [t, h, o, s, e,  , t, o,  , w, h, o, m,  , t, ...
35    [f, o, r,  , I,  , a, m,  , g, e, n, t, l, e, ...
Name: verse, dtype: object

In [17]:
bible['verse'].apply(lambda x: [i.isupper() for i in x ])

0     [True, False, False, False, False, False, True...
1     [False, False, False, False, False, False, Fal...
2     [False, False, False, False, False, True, Fals...
3     [False, False, False, False, False, False, Fal...
4     [True, False, False, False, False, False, Fals...
5     [False, False, False, False, False, False, Fal...
6     [False, False, False, False, False, False, Fal...
7     [False, False, False, False, False, True, Fals...
8     [True, False, False, False, False, False, Fals...
9     [False, False, False, False, False, False, Fal...
10    [False, False, False, False, False, False, Fal...
11    [False, False, False, False, False, False, Fal...
12    [False, False, False, False, False, False, Fal...
13    [False, False, False, False, False, False, Fal...
14    [False, False, False, False, False, False, Fal...
15    [False, False, False, False, False, False, Fal...
16    [False, False, False, False, False, False, Fal...
17    [True, False, False, False, False, False, Fals...
18    [True, False, False, False, False, False, Fals...
19    [True, False, False, False, False, False, Fals...
20    [False, False, False, False, False, False, Fal...
21    [False, False, False, False, False, False, Fal...
22    [False, False, False, False, False, False, Fal...
23    [False, False, False, False, False, False, Fal...
24    [False, False, False, False, False, False, Fal...
25    [False, False, False, False, True, False, Fals...
26    [False, False, False, False, True, False, Fals...
27    [False, False, False, False, False, False, Fal...
28    [False, False, False, False, False, False, Fal...
29    [False, False, False, False, False, False, Fal...
30    [False, False, False, False, False, False, Fal...
31    [True, False, False, False, False, False, Fals...
32    [False, False, False, False, False, False, Fal...
33    [False, False, False, False, False, False, Fal...
34    [False, False, False, False, False, False, Fal...
35    [False, False, False, False, True, False, Fals...
Name: verse, dtype: object

In [18]:
bible['verse'].apply(lambda x: np.sum([i.isupper() for i in x ]))

0     2
1     3
2     2
3     2
4     2
5     0
6     1
7     3
8     4
9     2
10    2
11    3
12    1
13    2
14    2
15    3
16    1
17    4
18    4
19    2
20    2
21    4
22    1
23    3
24    2
25    4
26    3
27    4
28    2
29    3
30    2
31    4
32    2
33    7
34    4
35    2
Name: verse, dtype: int64